body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #ffa500;
    padding: 20px 0;
    text-align: center;
}
nav {
    background-color: #ffa500;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
/* Linkler için hover efekti */
nav ul li a:hover {
    color: #fff;
}
/* İçerik bölümü stil ayarları */
section {
    padding: 20px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/* Yan içerik stil ayarları */
aside {
    background-color: #333;
    color: #ffa500;
    padding: 15px;
    margin: 15px;
    text-align: center;
}
/* Altbilgi stil ayarları */
footer {
    background-color: #333;
    color: #ffa500;
    text-align: center;
    padding: 10px 0;
}
/* Başlık stil ayarları */
h1, h2, h3 {
    color: #ffa500;
}
/* Paragraf stil ayarları */
p {
    line-height: 1.6;
}
/* Ekran boyutuna göre responsif ayarlar */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
